@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-x::-webkit-scrollbar {
        width: 8px;
    }

    .scrollbar-x::-webkit-scrollbar-track {
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
        background: rgb(55 65 81 /1);
    }

    .scrollbar-x::-webkit-scrollbar-thumb {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        background: rgb(209 213 219/1);
    }

    input {
        outline: none;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
